---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title> Eunu Lee. About me</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="About">
	<meta name="keywords" content="Eunu, Lee, Eunu Lee">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="project">
			<div class="container">
				<article>

					<span class="h2"> </span>
					<h1>
						<p>Eunu Lee</p>
					</h1>
					<span class="h2"></span>
					<p>She is an interior designer, based in Hong Kong.
					<br>She graduated summa cum laude from Hanyang university with a bachelor's Interior Architecture Design and a minored bachelor's Clothing and Textiles.
					She is genuinely interested in retail environment design, visual merchandising and 3D visualization.
					This website serves as a collection of her previous work and her online portfolio.
					Feel free to reach out about new project and opportunities.</p>
					<br>
					<br>

					</h1>
					<span class="h2">Work Experience</span>
					<br>
					<p>06.2024 - </p>
					<p>Spatial Design Intern</p>
					<p>Amorphous Limited, Hong Kong</p>
					<br>
					<p>08.2023 - 02.2024</p>
					<p>Assistant for Visual Merchandising</p>
					<p>IMD, Uniqlo, Seoul</p>
					<br>

					</h1>
					<span class="h2">Experience</span>
					<br>
					<p>04.2022 - 03.2023 </p>
					<p>Student journalist</p> 
					<p>Architectural Institute of Korea </p>
					<br>
					<p>07.2023 - 09.2023 </p>
					<p>AI Fashion styling consultant</p>
					<p>TAARA, Hanyang university student start-up</p>
					<br>

					</h1>
					<span class="h2">Awards and Achievements</span>
					<br>
					<p>05.2021</p>
					<p>Architecture Competition to Reuse Haeundae Public Office, Busan, S.Korea</p>
					<p>Idea Prize</p>
					<br>
					<p>07.2022 </p>
					<p>Inside LVMH Certificate </p>
					<br>
					<p>09.2022</p>
					<p>Dalseo Human Resource Development Foundation </p>
					<p>Academic Excellence Scholarship</p>
					<br>
					<p>11.2023</p>
					<p>KICA Crystal Scale Prize 2023</p>
					<p>Honorable Mentions</p>
					<br><br>
					<br>
					<br>
					<br>
					<br>
						


				</article>
				<aside>
					<ul>
						<li>
							<img src="/assets/images/projects/redpineapple/profile.jpg" alt="" />
						</li>
						
					</ul>
				</aside>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/jquery-1.12.4.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/sticky-kit.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/project.js" | prepend: site.baseurl }}"></script>
</body>
</html>
