---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title> Eunu Lee. About me</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="About">
	<meta name="keywords" content="Eunu, Lee, Eunu Lee">
	{% include head.html %}
	{% include analytics.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="project">
			<div class="container">
				<article>
					<span class="h2"> </span>
					<h1>
						<p>About Me</p>

					</h1>
					<p>Eunu Lee is an interior designer, based in Seoul.
She is currently studying BA Interior Architecture Design and minored in Clothing and Textiles at Hanyang university.
She is genuinely interested in retail environment design, visual merchandising and 3D visualization.
This website serves as a collection of her previous work and her online portfolio.
Feel free to reach out about new project and opportunities.</p>
						
					</h1>
					<span class="h2">Education & Qualifications</span>
					<p>2019-present</p>
<br>
<p>Undergraduate major in Interior Architecture Design, Hanyang university, Seoul</p> 
<br>
<p>BA minor in Clothing and Textiles, Hanyang university, Seoul</p>
<br>
<p>TBD </p><br><br><br><br><br><br>


				</article>
				<aside>
					<ul>
						<li>
							<img src="/assets/images/projects/redpineapple/profile.jpg" alt="" />
						</li>
						
					</ul>
				</aside>
			</div>
		</section>
	</main>
	{% include footer.html %}
	{% include analytics.html %}
	<script src="{{ "/assets/scripts/vendor/jquery-1.12.4.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/sticky-kit.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/project.js" | prepend: site.baseurl }}"></script>
</body>
</html>
