n---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title> Eunu Lee. About me</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="About">
	<meta name="keywords" content="Eunu, Lee, Eunu Lee">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="project">
			<div class="container">
				<article>

					<span class="h2"> </span>
					<h1>
						<p>Eunu Lee</p>
					</h1>
					<span class="h2"></span>
					<p>She is an interior designer, based in Seoul.
					She is currently studying BA Interior Architecture Design and minored in Clothing and Textiles at Hanyang university.
					She is genuinely interested in retail environment design, visual merchandising, 3D visualization.
					This website serves as a collection of her previous work and her online portfolio.
					Feel free to reach out about new project and opportunities.</p>
					<br>

					</h1>
					<span class="h2">Work Experience</span>
					<p>08.2023 - 02.2024 Assistant for Visual merchandising, IMD, Uniqlo, Seoul</p>
					<br>

					</h1>
					<span class="h2">Experience</span>
					<p>03.2022 - 07.2023 Life&Culture editor, HYGENIC , Hanyang university student fashion magazine</p>
					<br>
					<p>04.2022 - 03.2023 Student journalist, Architectural Institute of Korea </p>
					<br>
					<p>07.2023 - 09.2023 Fashion styling consultant, Avatar(AI fashion stylist app), Hanyang university student start-ups</p>
					<br>
					<br>
						


				</article>
				<aside>
					<ul>
						<li>
							<img src="/assets/images/projects/redpineapple/profile.jpg" alt="" />
						</li>
						
					</ul>
				</aside>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/jquery-1.12.4.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/sticky-kit.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/project.js" | prepend: site.baseurl }}"></script>
</body>
</html>
